<StackLayout *ngIf="spotifyId">
    <GridLayout rows="*" columns="5*,2*,2*" width="100%" height="60" class="header">
        <Label *ngIf="!lobby" row="0" col="0" class="h2" text="Create or join a lobby" style="vertical-align: center"></Label>
        <Label *ngIf="lobby" row="0" col="0" class="h2" text="Lobby - {{ lobby.id }}" style="vertical-align: center"></Label>
        <Button *ngIf="lobby" (tap)="onQueueSong()" row="0" col="1" text="Queue"></Button>>
        <Button *ngIf="!lobby" (tap)="onCreateLobby()" row="0" col="1" text="Create"></Button>
        <Button *ngIf="!lobby" (tap)="onJoinLobby()" row="0" col="2" text="Join"></Button>
        <Button *ngIf="lobby && lobby.leaderSpotifyId !== spotifyId" (tap)="onLeaveLobby()" row="0" col="2" text="Leave"></Button>
        <Button *ngIf="lobby && lobby.leaderSpotifyId === spotifyId" (tap)="onCloseLobby()" row="0" col="2" text="Close"></Button>
    </GridLayout>
    <ns-player *ngIf="lobby && (lobby.leaderSpotifyId === spotifyId)" [lobby]="lobby"></ns-player>
    <StackLayout *ngIf="lobby" class="seperator">
        <Label class="h3" text="Queue"></Label>
    </StackLayout>
    <ListView *ngIf="lobby" [items]="lobby.queuedSongs" class="list-group">
        <ng-template let-song="item" let-i="index" let-odd="odd" let-even="even">
            <StackLayout orientation="horizontal" class="list-group-item" style="padding:0;border-top-width:1px;border-top-color:black">
                <Image src="song.imageUrl" width="48" height="48" marginRight="15"></Image>
                <Label [text]="song.name + ' queued by ' + song.queuer.spotifyDisplayName"></Label>
            </StackLayout>
        </ng-template>
    </ListView>
    <StackLayout *ngIf="lobby" class="seperator">
        <Label class="h3" text="Members"></Label>
    </StackLayout>
    <ListView *ngIf="lobby" [items]="lobby.participantUsers" class="list-group">
        <ng-template let-user="item" let-i="index" let-odd="odd" let-even="even">
            <StackLayout orientation="horizontal" class="list-group-item" style="padding:0;border-top-width:1px;border-top-color:black">
                <Image *ngIf="!user.spotifyProfilePictureUrl" src="res://blank_profile" width="48" height="48" marginRight="15"></Image>
                <Image *ngIf="user.spotifyProfilePictureUrl" src="user.spotifyProfilePictureUrl" width="48" height="48" marginRight="15"></Image>
                <Label [text]="user.spotifyDisplayName"></Label>
                <Image *ngIf="user.spotifyId === lobby.leaderSpotifyId" src="res://crown" width="32" height="32" marginLeft="10"></Image>
            </StackLayout>
        </ng-template>
    </ListView>
    <FlexboxLayout *ngIf="!spotifyId" justifyContent="space-around">
        <Label alignSelf="center" class="h3" text="Create or Join a Lobby"></Label>
    </FlexboxLayout>
</StackLayout>
<FlexboxLayout *ngIf="!spotifyId" height="100%" justifyContent="space-around">
    <Label alignSelf="center" class="h1" text="Log in to use Lobbies"></Label>
</FlexboxLayout>
