<app-navbar></app-navbar>
<mat-grid-list cols="7" rowHeight="50px">
  <mat-grid-tile>
    <button mat-icon-button (click)="onBack()">
      <mat-icon class="material-icons">arrow_back</mat-icon>
    </button>
  </mat-grid-tile>
  <mat-grid-tile colspan="5">
    <form>
      <mat-form-field floatLabel='never'>
        <input matInput placeholder="Search song...">
      </mat-form-field>
    </form>
  </mat-grid-tile>
  <mat-grid-tile>
    <button mat-icon-button>
      <mat-icon class="material-icons">search</mat-icon>
    </button>
  </mat-grid-tile>
</mat-grid-list>
